/* Mobile Responsive Design */
@media only screen and (max-width: 640px){
    /* Responsive Header Section */
    .menu-btn{
        display: block;
    }
    nav{
        border-bottom: 1px solid gainsboro;
        padding-bottom: 5px;
    }
    .logo-container h3{
        display: none;
    }
    nav ul{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    /* Responsive Hero Area */
    #hero-section{
        flex-direction: column-reverse;
    }
    #hero-section img{
    width: 368px;
    height: 475px;
}
    #hero-section h1{
    font-size: 30px;
    line-height: 35px;
}

/* Responsive Curriculum Section */
#curriculum-container{
    
}
#curriculum-container h2{
    font-size: 30px;
}
#card-parent-div{
    flex-direction: column;
}
.curriculaum-btn{
    display: none;
}
    /* Responsive Our Stories Section */
    .card-post{
        display: none;
    }
    #single-card-parent{
        display: flex;
        flex-direction: column;
    }

    /* Responsive FAQ section */
    #faq-container{
        width: 90%;
        margin: 0 auto;
    }
    .faq-and-img-parent-div{
        flex-direction: column;
    }
    .faq-section{
        width: 100%;
    }
    .faq-img{
        display: none;
    }

    /* Responsive Footer Section */
    footer{
        flex-direction: column;
        gap: 24px;
    }
    .footer-col-one{
        width: 100%;
    }
}

/* Laptop Responsive Design */
@media screen and (max-width: 1425px){
    #hero-section h1{
        font-size: 45px;
        line-height: 57px;
    }
        #hero-section img{
            width: 368px;
            height: 450px;
        }
#faq-container{
    h2{
        font-size: 32px;
        padding-bottom: 28px;
    }
    .single-card p{
    font-size: 18px;
    }
}
.single-faq{
    h6{
        font-size: 18px;
    }
    p{
        font-size: 15px;
        color: #707070;
    }
    
}
}