@media only screen and (max-width: 640px){
    /* Responsive Header Section */
    .menu-btn{
        display: block;
    }
    nav{
        border-bottom: 1px solid gainsboro;
        padding-bottom: 5px;
    }
    .logo-container h3{
        display: none;
    }
    nav ul{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    /* Responsive Hero Area */
    #hero-section{
        flex-direction: column-reverse;
    }
    #hero-section img{
    width: 368px;
    height: 475px;
}
    #hero-section h1{
    font-size: 30px;
    line-height: 35px;
}

/* Responsive Curriculum Section */
#curriculum-container{
    
}
#curriculum-container h2{
    font-size: 30px;
}
#card-parent-div{
    flex-direction: column;
}
.curriculaum-btn{
    display: none;
}
    /* Responsive Our Stories Section */
    .card-post{
        display: none;
    }
    #single-card-parent{
        display: flex;
        flex-direction: column;
    }

    /* Responsive Footer Section */
    footer{
        flex-direction: column;
        gap: 24px;
    }
    .footer-col-one{
        width: 100%;
    }
}