/* Root Code Start */
:root{
    /* color theme */
    --orangeColor: rgba(254, 163, 1, 1);
    --skyblueColor: rgba(1, 172, 253, 1);
    --blackColor: rgba(17, 17, 17, 1);
    --pestColor: rgba(5, 212, 223, 1);
    --violetColor: rgba(93, 88, 239, 1);

    /* font Family */
    --primaryFont: Quicksand;
    --secondFont: Raleway;
}
/* Root Code End */
/* Reset CSS Design */
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primaryFont);
}
body{
    background-image: url("/assets/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
}
.btn{
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
/* Header Section Code Start Here */
header{
    height: 100vh;
}
nav{
    width: 80%;
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo-container h3{
    font-size: 28px;
    font-weight: bold;
}
.logo-container img{
    width: 48px;
    height: 48px;
}
nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
    
}
nav ul  li{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
nav ul  li:nth-child(1){
    color: var(--orangeColor);
}
nav ul  li:nth-child(2){
    color: var(--skyblueColor);
}
nav ul  li:nth-child(3){
    color: var(--pestColor);
}
nav ul  li:nth-child(4){
    color: var(--violetColor);
}
.nav-btn{
    background-color: var(--orangeColor);
}
.menu-btn{
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}
.menu-btn img{
    width: 25px;
    height: 25px;
}
#hero-section{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}
#hero-section h1{
    font-size: 56px;
    font-weight: bold;
    line-height: 61px;
    margin-bottom: 24px;
}
#hero-section span:nth-child(1){
    color: var(--orangeColor);
}
.last-header{
    color: var(--skyblueColor);
}
.hero-btn{
    background-color: var(--blackColor);
    margin-top: 24px;
}
#hero-section img{
    width: 468px;
    height: 575px;
}
/* Header Section Code End Here */
main{
    background: linear-gradient(#FFFFFF, rgba(254, 163, 1, 0.3));
}
/* Curriculum Section Code Start Here */
#curriculum-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    padding-top: 10px;
}
#curriculum-container h2{
    font-size: 46px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 60px;
}
#card-parent-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    margin-bottom: 40px;
}
#card-container{
    width: 350px;
    height: 450px;
    border: 2px solid rgba(222, 245, 255, 1);
    border-radius: 18px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-one{
    background: linear-gradient(#DEF5FF, #FFFFFF);
}
.card-two{
    background: linear-gradient(#FFF4DC, #FFFFFF);
}
.card-three{
    background: linear-gradient(#EEE1FF, #FFFFFF);
}
#card-container img{
    width: 136px;
    height: 136px;
    margin-bottom: 20px;
}
#card-container h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
#card-container p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 28px;
    line-height: 28px;
}
.card-one a{
    font-size: 15px;
    font-weight: bold;
    color: var(--skyblueColor);
    text-decoration: none;
}
.card-two a{
    font-size: 15px;
    font-weight: bold;
    color: var(--orangeColor);
    text-decoration: none;
}
.card-three a{
    font-size: 15px;
    font-weight: bold;
    color: var(--violetColor);
    text-decoration: none;
}
.arrow-btn{
    width: 34px;
    height: 34px;
    border: none;
    background-color: var(--orangeColor);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    margin-right: 6px;
    
}
/* Curriculum Section Code End Here */

/* Our Stories Section Code Start Here */
#our-stories-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}
#our-stories-container h2{
    font-size: 45px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}
#stories-card-parent-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-bottom: 50px;
}
.card-post{
    width: 540px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 50px;
    text-align: left;
    padding-bottom: 24px;
}
.stories-card-image{
    position: relative;
}
.card-post img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 50%;
    width: 100%;
    
}
.card-post span{
    width: 170px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: rgba(60, 216, 232, 1);
    padding: 8px 15px;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    left: 35%;
    bottom: -10px;
}

.card-post h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 24px;
}
.card-post p{
    font-size: 15px;
    color: rgba(102, 102, 102, 1);
    line-height: 28px;
    padding: 0 24px;
    margin-bottom: 16px;
    text-align: justify;
}
#single-card-parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 24px;
}
.single-card{
    width: 290px;
    background-color: white;
    border-radius: 16px;
}
.single-card p{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding: 28px 16px 36px 16px;
}
.single-card-img img{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.single-card-img{
    position: relative;
}
.single-card-img span{
    width: 170px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    padding: 8px 15px;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    left: 24%;
    bottom: -10px;
}
.card-data-one{
    background-color: rgba(149, 178, 38, 1);
}
.card-data-two{
    background-color: var(--violetColor);
}
.card-data-three{
    background-color: var(--orangeColor);
}
.card-data-four{
    background-color: var(--skyblueColor);
}
.stories-btn{
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: black;
}
/* Our Stories Section Code End Here */
/* Footer Section Code Start Here */
footer{
    background-color: rgba(1, 172, 253, 1);
    padding: 100px 8%;
    display: flex;
    justify-content: space-between;
}
.footer-col-one{
    width: 35%;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 6;
}
.footer-logo img{
    width: 45px;
    height: 45px;
}
.footer-logo h3{
   font-size: 30px;
   font-weight: bold;
   color: white;
}
.footer-col-one p{
    color: white;
    font-size: 15px;
    margin-top: 24px;
}
.footer-col-two{
    color: white;
}
.footer-col-two h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-col-two ul{
    list-style: none;
}
.footer-col-two ul li{
    margin-bottom: 16px;
    cursor: pointer;
}
.footer-col-two ul li:hover{
    text-decoration: underline;
}
.footer-col-three img{
    width: 40px;
    height: 40px;
}
.footer-col-three h3{
    color: white;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 24px;
}
.footer-logo-div{
    display: flex;
    align-items: center;
    gap: 6px;
}
/* Footer Section Code End Here */